* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:pink;
  font: 1.8em Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 89%; /* 90% is too much */
  margin-right: .5%;
}

form #button {
  color: #FFF;
  background: rgb(76, 154, 168);
  border:dotted;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
 
  background: rgb(210, 166, 214);
}

#notifyUser {
  position: fixed;
  bottom: 42px;
  width: 100%;
}

/* Reference: http://javabeginnerstutorial.com/javascript-2/create-simple-chat-application-using-node-js-express-js-socket-io/ */